/*自定义控件样式*/
.maptalks-zoom-custom{
    margin: 16px;
    text-align: center;
    width:28px;
    height:260px;
}

.maptalks-zoom-zoomlevel-custom {
        display: block;
        width: 23px;
        height: 23px;
        background: #172029;
        color: #fff;
        line-height: 23px;
        font-size: 12px;
}
.maptalks-zoom-slider-custom{
    width:28px;
    height:170px;
}
.maptalks-zoom-slider-box-custom{
    width:8px;
    height:117px;
}
.maptalks-zoom-slider-ruler-custom{
    background:url(nav.png);
    background-position:-36px -80px;
    width:8px;
    height:117px;
    position:relative;
    left:9px
}

.maptalks-zoom-slider-reading-custom{
    background-image:url(nav.png);
    background-position:-10px -114px;
    /*width:8px;
    height:81px;*/
    width: 5px;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 1px;          
}
.maptalks-zoom-slider-dot-custom{
    background-image: url(nav.png);
    background-position: -53px -56px;
    bottom: 45%;
    position:absolute;
    width: 24px;
    height: 14px;
    left:-8px;
    cursor: pointer;
}
.maptalks-zoom-zoomin-custom{
    background-image: url(nav.png);
    background-position: -1px -56px;
    width: 26px;
    height: 24px;
    cursor: pointer;
    display: block;
}
.maptalks-zoom-zoomout-custom{
    display: block;
    background-image: url(nav.png);
    background-position: -1px -266px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.maptalks-zoom-zoomPan-custom{
    background-image: url(nav.png);
    background-position: 0px 0px;
    width: 56px;
    height: 56px;
    margin-left:-15px
}
.maptalks-zoom-zoomPan-left-custom{
    position:absolute;
    background-image: url(nav.png);
    background-position: -5px -19px;
    width: 17px;
    height: 18px;
    cursor: pointer;
    left: 6px;
    top: 35px;
}
.maptalks-zoom-zoomPan-right-custom{
   position:absolute;
   background-image: url(nav.png);
    background-position: -36px -19px;
    width: 17px;
    height: 18px;
    cursor: pointer;
    left: 36px;
    top: 35px;
}
.maptalks-zoom-zoomPan-up-custom{
    position:absolute;
    background-image: url(nav.png);
    background-position: -19px -5px;
    width: 20px;
    height: 18px;
    cursor: pointer;
    left: 20px;
    top: 21px;
}
.maptalks-zoom-zoomPan-down-custom{
    position:absolute;
    background-image: url(nav.png);
    background-position: -19px -32px;
    width: 20px;
    height: 18px;
    cursor: pointer;
    left: 20px;
    top: 48px;
}